<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>So Many Applications Are Done By Python</h1>
        <h1>Do You Want To Create Any Application Like Aha,Instagram</h1>
        <a href="{% url 'sindhu' %}"><h1>sindhu</h1></a>
        <a href="{% url 'mounika' %}"><h1>mounika</h1></a>
        <a href="{% url 'specific:mouni' %}"><h1>mouni</h1></a>
        <a href="{% url 'specific:anusha' %}"><h1>anusha</h1></a>
    </center>
</body>
</html>